.containerHeader{
    margin: 5px;
    background-color: rgba(134, 134, 182, 0.5); 
    border-radius: 16px;
    border: 2px solid rgba(0, 255, 255, 0.3);
    
    .navbar-brand{
        color: aliceblue;
    }
    
    .navbar-brand .active {
        font-weight: bold;
        text-decoration: underline;
        color: rgba(0, 255, 255);
    }


    .form-control{
       border: none;
       border-radius: 8px;
    }
}